{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

        <div class="wrapper">
            
            <div class="search-container">

                <form class="search-bar" action="/" method="GET">

                    {% csrf_token %}

                    <input type="text" placeholder="Введите название" name="query" value="{{ query }}">

                    <button type="submit">Поиск</button>

                </form>

            </div>
        
            <div class="airlains-container">
            
                {% for airlain in airlains %}

                    <div class="airlain-card">
                        {% if airlain.name == "Аэрофлот" %}
                        <img src="{% static 'image/aeroflot.jpg' %}" alt=""/>
                        {% elif airlain.name == "Победа" %}
                            <img src="{% static 'image/pobeda.jpg' %}" alt=""/>
                        {% elif airlain.name == "Россия" %}
                            <img src="{% static 'image/Ros.jpg' %}" alt=""/>
                        {% elif airlain.name == "S7 Airlines" %}
                            <img src="{% static 'image/s7.jpg' %}" alt=""/>
                        {% else %}
                            <img src="{% static 'image/ural.jpg' %}" alt=""/>
                        {% endif %}

                       <span>{{ airlain.name }}</span>

                       <a href="airlain/{{ airlain.id }}">
                            <button>Открыть</button>
                       </a>

                    </div>

                {% endfor %} 
            
            </div>
        
        </div>

</body>
</html>